body {
    background-color: #efc050;
}

title {
    font-family: Pacifico, Arial, sans-serif;
    text-align: center;
    font-weight: bold;
}

img {
    height: 500px;
    width: auto;
}

p{
    color: white;
    font-family: Pacifico, Arial, sans-serif;
}

.link {
    font-weight: bold;
    background-color: #45B8AC;        
}

